button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: black;
	background-color: transparent;
	color: black;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover,
        &:active,
	&:focus{
            background-color: white;
            color: black;
	}

}
